<div class="main-page">
    <div class="main-page-left">
        <h2>Projects</h2>
        <hr>
        <div>
            <ul>
                <% projects.forEach(project=>{%>
                    <li>
                        <a href="/project/<%=project._id %>">
                            <%= project.name %>
                        </a>
                    </li>
                    <%})%>
            </ul>

        </div>
    </div>
    <div class="main-page-right">
        <nav>
            <ul>
                <li>
                    <select name='project' id="project" placeholder="Select Project">
                      <option value="" disabled selected>Select Project</option>
                      <option value="Project 1">Project 1</option>
                  </select>
                </li>
                <li>
                    <form>
                        <input type="search" name="search" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                        <th>Reported on</th>
                        <th>Reported by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bug</td>
                        <td><a href="#">1</a></td>
                        <td><a href="#">Ui is not working</a></td>
                        <td>In progress</td>
                        <td>High</td>
                        <td>Punit</td>
                        <td>23-01-24</td>
                        <td>Raghu</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>